/.classpath
/.project
/bin
/data-complete
/.settings
/junit_test_data.csv
/junit_test_hierarchy_age.csv
/jars
/test.ahs
.idea
target
arx.iml
.classpath
.project
/build
*.class
*.odt
*.pdf
*.png
*.gif
*.xcf
out/production/arx/org/deidentifier/arx/gui/resources/license.txt
*.iml


out/production/arx/org/deidentifier/arx/risk/resources/us/readme.txt

out/production/myfork-arx/org/deidentifier/arx/gui/resources/license.txt

out/production/myfork-arx/org/deidentifier/arx/risk/resources/us/readme.txt

src/voters_hierarchies/birth_state_hierarchy.csv

src/voters_hierarchies/cities_hierarchy.csv

src/voters_hierarchies/county_desc_hierarchy.csv

src/voters_hierarchies/drivers_lic_hierarchy.csv

src/voters_hierarchies/ethnic_code_hierarchy.csv

src/voters_hierarchies/gender_code_hierarchy.csv

src/voters_hierarchies/party_cd_hierarchy.csv

src/voters_hierarchies/race_code_hierarchy.csv

src/voters_hierarchies/res_city_hierarchy.csv

src/voters_hierarchies/state_cd_hierarchy.csv

src/voters_hierarchies/voter_stat_hierarchy.csv

src/voters_hierarchies/voter_status_desc_hierarchy.csv

src/voters_hierarchies/voter_status_reason_desc_hierarchy.csv

src/voters_hierarchies/zipcode_hierarchy.csv
