/.classpath
/.project
/bin
/data-complete
/.settings
/junit_test_data.csv
/junit_test_hierarchy_age.csv
/jars
/test.ahs
.idea
target
arx.iml
.classpath
.project
/build
*.class
*.odt
*.pdf
*.png
*.gif
*.xcf
out/production/arx/org/deidentifier/arx/gui/resources/license.txt
*.iml


out/production/arx/org/deidentifier/arx/risk/resources/us/readme.txt

out/production/myfork-arx/org/deidentifier/arx/gui/resources/license.txt

out/production/myfork-arx/org/deidentifier/arx/risk/resources/us/readme.txt
